/******************************************
*  Author : Author   
*  Created On : Mon Nov 06 2023
*  File : styles.css
*******************************************/

.test{
    background-color: royalblue;
    padding: 20px 40px;
    font-size: 48px;
}