/******************************************
*  Author : Author   
*  Created On : Wed Nov 08 2023
*  File : styles.css
*******************************************/

body{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: #1e1d23;
	font-size: 36px;
}