/******************************************
*  Author : Author   
*  Created On : Sat Oct 28 2023
*  File : style.css
*******************************************/

.wrapper
{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    margin: 3px;
}